* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    background: #f9fbff;
    color: #333;
    scroll-behavior: smooth;
}

/* Navbar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links a:hover {
    color: #ff6fa5;
}

.hamburger {
    display: none;
    cursor: pointer;
}

/* Hero */
.hero {
    padding-top: 120px;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff6fa5, #5ecbff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.hero-text h1 {
    font-size: 42px;
    color: white;
}

.hero-text p {
    margin: 15px 0;
    color: white;
}

.hero-text button {
    padding: 10px 20px;
    border: none;
    background: #4ecb8c;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.hero-text button:hover {
    opacity: 0.8;
}

.hero-image img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid white;
}

/* Sections */
.section {
    padding: 80px 40px;
    max-width: 1000px;
    margin: auto;
}

.section h2 {
    margin-bottom: 30px;
    color: #ff6fa5;
}

/* Cards */
.card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: white;
}

.pink { background: #d14578; }
.blue { background: #2898cc; }
.green { background: #3fb47a; }

/* Skills */
.skills span {
    background: #4ecb8c;
    padding: 8px 15px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    color: white;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #5ecbff;
    color: white;
}

.rincian-info{
    color: #5c5c5c;
}

/* Responsive */
@media(max-width: 768px){
    .nav-links {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        right: 20px;
        top: 60px;
        padding: 15px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero-content {
        text-align: center;
    }
}