nav{
    margin: auto;
    position: relative;
    padding: 20px;
    width: 100%;
    height: 50px;
    color: rgb(26, 26, 26);
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1{
        margin: auto;
        margin-left: 0;
        padding: 0;
    }

    .navigation-list{
        display: flex;
        margin: auto;
        margin-right: 80px;
        flex-direction: row;
        list-style-type: none;
        padding: 0%;
        height: 100%;
        background-color: aqua;
        
        li{
            width: 100px;
            height: 50px;
            margin: auto;
            padding: 0%;
            text-align: center;
            align-content: center;
        }
    }
}